---
import Main from '../layouts/main.astro';
---

<Main>
  <ul class='list-disc text-blue-400'>
    <li>
      <a href='light-rectangular' class='text-gray-800 hover:text-gray-500'>Light Rectangular</a>
    </li>
    <li>
      <a href='blue-rectangular' class='text-gray-800 hover:text-gray-500'>Blue Rectangular</a>
    </li>
    <li>
      <a href='dark-rectangular' class='text-gray-800 hover:text-gray-500'>Dark Rectangular</a>
    </li>
    <li>
      <a href='light-pill' class='text-gray-800 hover:text-gray-500'>Light Pill</a>
    </li>
    <li>
      <a href='blue-pill' class='text-gray-800 hover:text-gray-500'>Blue Pill</a>
    </li>
    <li>
      <a href='dark-pill' class='text-gray-800 hover:text-gray-500'>Dark Pill</a>
    </li>
  </ul>
</Main>
